
body {
    margin: 0;
    font-family: Inter, sans-serif;
    font-size: 17px;
    color: #121212;
}
a {
    text-decoration: none;
    color: unset;
}
#sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 475px;
    height: 856px;
    z-index: 10;
    background-color: rgba(244, 244, 244, 0.75);
    transition: right 0.3s ease-in-out;
}
.title {
    font-weight: 700;
    font-size: 54px;
    padding-left: 30px;
    margin-bottom: 10px;
}
.text-red {
    color: #8C3B19;
    font-weight: 700;
}
#sidebarContent {
    padding: 30px 60px 0 30px;
}

#closeSidebar {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-left: auto;
}

#loop_map-show {
    background: unset;
    color: #121212;
    border: 1px solid black;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    transition: 0.3s;
}
#loop_map-show:hover {
    background-color: #121212;
    color: #fff;
    transition: 0.1s;
}

.row-btn {
    display: flex;
    margin-bottom: 30px;
}

.arrow-btn {
    background: none;
    display: none;
    border: none;
    cursor: pointer;
}

#map, #map2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.img-map {
    width: 100%;
    height: 100%;
    position: relative;
}

.container {
    position: relative;
}

.container-loop {
    position: relative;
    overflow: auto;
}

.region {
    fill: rgba(145, 208, 79, 0.01);
    fill-opacity: 0.5;
    stroke-width: 0.4;
    transition: stroke, fill 0.3s ease;
}
.reserve {
    fill: rgb(94 96 100);
    fill-opacity: 0.5;
    stroke: rgb(94 96 100);
    stroke-width: 0.4;
}
.sell {
    fill: rgb(108 35 35);
    fill-opacity: 0.5;
    stroke: rgb(56 33 45);
    stroke-width: 0.4;
}
[data-part] {
    display: none;
}
.house-polygon {
    stroke-width: 1.5;
}
.region:hover, .region:active, .js-polygon.pol-active, .area-active {
    fill: #59673b;
    stroke: #59673b;
    /*stroke: #7fa920;*/
    stroke-opacity: 1;
    cursor: pointer;
}
.reserve.pol-active {
    fill-opacity: 0.8;
}
.sell.pol-active {
    fill-opacity: 0.8;
}
.house-info {
    display: none;
}
.row {
    display: flex;
}
.row-house-list {
    align-items: center;
    border-bottom: 1px solid black;
    padding: 27px 0 17px 0;
    cursor: pointer;
}
.p-0 {
    padding: 0!important;
}
.item-see::before {
    content: '';
    position: absolute;
    left: 2px;
    width: 19px;
    height: 19px;
    transform: translateY(-2px);
    background: url(../img/hover.svg) center center no-repeat;
    background-size: contain;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.item-sell {
    color: #BF3939;
    cursor: default;
}
.text-sell-reserve {
    margin-right: auto;
    position: relative;
    text-decoration-line: line-through;
}
.item-reserve::before {
    content: '';
    position: absolute;
    left: 2px;
    width: 18px;
    height: 18px;
    transform: translateY(-2px);
    background: url(../img/cross-gray.svg) center center no-repeat;
    background-size: contain;
}
.item-reserve {
    color: #55575F;
    cursor: default;
}
.item-sell::before {
    content: '';
    position: absolute;
    left: 2px;
    width: 18px;
    height: 18px;
    transform: translateY(-2px);
    background: url(../img/cross.svg) center center no-repeat;
    background-size: contain;
}
.h-type::after {
    content: '';
    position: absolute;
    left: 0;
    transform: translateY(15px);
    width: 140px;
    height: 14px;
    background: url(../img/border-hover.svg) center center no-repeat;
    background-size: contain;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.row-house-list:hover .h-type::after, .pol-active.row-house-list .h-type::after {
    opacity: 1;
}
.row-house-list:hover::before, .pol-active.row-house-list::before {
    opacity: 1;
}
.arrow-right {
    transform: scaleX(-1);
    margin-left: 20px;
}
.house-list {
    width: 300px;
    padding: 0 45px 0 30px;
    height: 400px;
    position: relative;
}
.h-type {
    margin-right: auto;
    position: relative;
}

@media (max-width: 1024px) {
    body {
        font-size: 22px;
        font-weight: 600;
    }
    h1 {
        margin: 20px 0 0 0;
    }
    #myImage, #map2 {
        transform-origin: 55% 12%;
        transform: scale(2);
    }
    #loop_map-show {
        font-size: 22px;
    }
    .house-list {
        width: auto;
        height: 500px;
        margin-top: 15px;
    }
    .h-type::after {
        transform: translateY(20px);
    }
    .arrow-btn img, #closeSidebar img {
        width: 50px;
    }
    #map, #map2 {
        height: 100%;
        width: 1700px;
    }
    .img-map {
        height: 100%;
        width: 1700px;
    }
    .container {
        overflow: auto;
    }
    .scale {
        scale: 1.8;
    }
    .container-loop {
        overflow: auto;
    }
    .row-btn {
        margin-bottom: 0;
    }
}
